<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kkwagh.kkw_poly">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SendOTPActivity" />
        <activity android:name=".VerifyOTPActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".WorkInProgressActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Quiz"></activity>
        <activity android:name=".ContactUs" />
        <activity android:name=".Achievment" />
        <activity android:name=".AdmissionProcess" />
        <activity android:name=".HomeScreen" />
    </application>

</manifest>